body{
  text-align: center;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  overflow: hidden;
}
canvas{
  position: absolute;
  left:0;
  background-size: auto;
  z-index:5;
}
p{
    display: inline;
    color:rgb(239, 218, 122);
}
h1{
  font: 7vw Baloo, monospace; color: rgb(239, 218, 122);
  display: inline;
  text-shadow: 0px 0.5vh 1px grey;

}
@font-face {
  font-family: Baloo;
  src: url("Anonymous_Pro_B.ttf") format("truetype");
}
.screenBox{
  top:100%;
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 1;
  opacity:1;
  transition: top 1s, opacity 1s;

}
.iconImg{
  height: 10vh;
  width: 10vh;
  background-size: auto;
  display:inline-block;
  margin-left: auto auto;
  position: relative;
  object-fit: contain;
}
.buttonS{
  position: absolute;
  padding: 1%;
  font: 3vw Baloo, monospace; color: rgb(239, 218, 122);

  top: 50%;
  left: 25%;
  transform: translate(-50%,-50%);
  border: solid 5px;
  transition: background-color 0.3s;
}
.buttonS:hover{
  background-color: rgba(150,150,120,1);
}
.buttonS:active{
  color: rgb(210, 180, 102);
}
@keyframes starsAnim {
  from { background-position: 0% 0%; }
  to { background-position: -1920px 0%; }
}


.halfBox{
  top:0;
  left:0;
  height: 100%;
  width: 50%;
  position: absolute;
  text-align: center;
  display: block;
  z-index: 1;
  transition: height 1s, width 1s;
  pointer-events: none;
}

.MyLogo{
  padding-top: 0;
  top:50%;
  transform: translate(0,-50%);
  position: relative;
  margin: auto auto;
  z-index: 5;
  font: 5vw Baloo, monospace; color: rgb(239, 218, 122);
  text-shadow: 0px 0.5vh 1px grey;
  transition: color 0.2s, background-color 0.2s;
/*  animation: logoAnim 3s infinite;
  animation-timing-function: linear;*/
  cursor: pointer;
  pointer-events:painted;
}
@keyframes logoAnim {
  0%{ }
  93%{ text-shadow: 0px 0.5vh 1px grey;  padding-top: 0;}
  94%{ text-shadow: 0px 0vh 0px grey;  padding-top: 0.5vh;}
  99%{ text-shadow: 0px 0vh 0px grey;  padding-top: 0.5vh;}
  100%{ text-shadow: 0px 0.5vh 1px grey;  padding-top: 0;}
}


.AboutMe{
    line-height: 15%;
    margin-right: 10%;
    position: relative;
    top: 70%;
    opacity: 0;
    transform: translate(0,-50%);
    font: 2vw Baloo, monospace; color: rgb(255,255,255);
    transition: top 1.5s, opacity 1.5s;
}
.AboutApp{
    line-height: 15%;
    margin-right: 10%;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    font: 2vw Baloo, monospace; color: rgb(255,255,255);
    z-index: 110;
}

.mainWindow{
  width: 100%;
  height:300%;
  z-index: 10;
  position:relative;
  display: block;
  top: 100%;
  background-color: rgb(50,50,60);
  transition: top 1s, height 1s;
}

.pageDiv{
  top: 50%;
  transform: translate(0,-50%);
  z-index: 50;
  right: 0;
  height: auto;
  width: 2%;
  position: absolute;
  display: block;
}
.pageIcon{
  margin: 5vh auto;
  margin-right: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 5px;
  height: 13vh;
  border-left:solid 1px rgba(255,255,255,0.5);
  background-color: rgba(10,10,10,0.7);
  transition: background-color 1s;
}

.bcPics{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity:1;
  background-size:fill;
  transition: opacity 1s;
}

img {
    width: 7vh;
    height: 7vh;
   object-fit: contain;
   display:inline-block;
}
