body{

  left: 0;
  right: 0;
  background: #1e2026;
  padding-left: 5%;
  padding-top: 80px;
  
}
.buttonTopBar{
  background: none;
  border: none;
  color: grey;
  text-shadow: 1px 2px #000000;
  font-weight: 700;
  font-size: 20px;
  padding: 15px;
}
.buttonSimple{
  background: none;
  border: none;
  color: White;
  font-size: 12px;
}
topbar{
  width: 100%;
  height: 50px;
  background: rgba(46, 48, 56, 0.9);
  position: fixed;
  top: 0;
  left: 0;
}
logo{
  font: 20px Arial, sans-serif; color: #d4d4d6;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;

}
bl{
    font: 25px Arial, sans-serif; color:#161616;
    display:inline;
    opacity: 0.5;
}
downbar{
  background: #191a1e;
  position:absolute;
  display:block;

  right: 0;
  left: 0;



  padding: 8px;
  text-align: center;
  font: 12px Arial, sans-serif; color: #0f0f0f;

}

.buttonTopBar:hover {
    color: lightgrey;
}
.buttonTopbar:active {
    color:grey;
}
