html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  color: white;
  background-color: rgba(4, 4, 10, 1);
  padding: 0;
  margin: 0;
}

ti{
  color: black;
  font: 25px CocoRegular, monospace;
}

p{
  font: 25px CocoHeavy, monospace;
  margin-top: 0;
}

.stars{
  width: 100%;
  height: 100%;
  bottom: 0;
  position: fixed;
  background-image: url(stars/stars.png);
  background-position: 0 0;
  background-repeat: repeat;
  transition: 0s linear;
  transition-property: background-position;
  z-index: 0;
}

.logoContainer{
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 2;
}

logo{
  color: rgba(250, 250, 250, 1);
  font: 50px  CocoHeavy, monospace;
  padding-top: 15px;
  padding: 0;
  padding-left: 8vw;
  text-shadow: 0px 1px 0px grey, 0px 2px 0px grey, 0px 3px 0px grey, 0px 4px 0px grey;
}

logo2{
  color: rgba(200, 200, 200, 1);
  font: 20px CocoRegular, monospace;
  padding-top: 15px;
  padding-left: 16vw;
  text-shadow: 0px 0px 10px black;
}

.menu{
  position : absolute;
  list-style: none;
  background-image: linear-gradient(to top, rgba(255,255,255,0.333), rgba(0,0,0,0));
  text-align:center;
  padding: 0;
  margin: 0;
  top: 240px;
  height: 40px;
  width: 100%;
  z-index: 65;
  transform: translate(0, -100%);
}

.menu li{
  display:inline;
}
button{
  outline:none;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.menuButton {
  color: White;
  background-color: transparent;
  font-size: 30px;
  display: inline-block;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  min-width: 150px;
  text-shadow: 0 0 5px black;
  z-index: 10;
  transition: color, text-shadow 0.1s;
}

.menuButton:hover {
  text-shadow: 0 2px 5px black;
  background-color: rgba(255,255,255,0.2);
}

.menuButton:active {
  background-color: rgba(255,255,255,0.5);
}

.gradient{

  background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  height: 200px;
  z-index: 15;
}

.emptyBar {
  position: relative;
  min-height: 100px;
  width: 100%;
  z-index: 15;
  color: white;
}

.whiteBar {
  position: relative;
  min-height: 100px;
  width: 100%;
  background-color: rgba(235, 235, 235, 1);
  color: black;
  font: 20px CocoRegular, monospace;
  text-shadow: 0px 1px 0px darkgrey;
  z-index: 15;
  box-shadow: inset 0px 150px 150px -150px rgba(250, 250, 250, 1), inset 0px -150px 150px -150px rgba(250, 250, 250, 1);
}


.whiteBarContainer{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.earthContainer{
  width: 100%;
  height: 240px;
  vertical-align: middle;
  overflow: hidden;
  transition: h
}

.earthMesh{
  background:url('earth/atmosphere.png');
  background-size: 100% 100%;
  position: relative;
  top: 20px;
  left: -10px;/* minus scrollbar*/
  z-index: 1;
}

.footer{

}

@font-face {
  font-family: Baloo;
  src: url("Anonymous_Pro_B.ttf") format("truetype");
}
@font-face {
  font-family: CocoLight;
  src: url("Coco-Gothic-Light-trial.ttf") format("truetype");
}
@font-face {
  font-family: CocoRegular;
  src: url("Coco-Gothic-Regular-trial.ttf") format("truetype");
}
@font-face {
  font-family: CocoHeavy;
  src: url("Coco-Gothic-Heavy-trial.ttf") format("truetype");
}
