html{
  height: 101%;
  width: 100%;
}
body{
  color: white;
  width:100%;
  background-color: rgba(4, 4, 10, 1);
  padding: 0;
  margin: 0;
}

h1{
  font: 30px CocoHeavy, monospace;
  margin-top: 0;
}

p{
  font: 16px "Trebuchet Ms", monospace;
  padding-left: 30px;
  text-indent: 20px;
}

.logoContainer{
  position: absolute;
  top: 80px;
  z-index: 3;
  width: 100%;
}


logo1{
  color: rgba(250, 250, 250, 1);
  font: 50px  CocoHeavy, monospace;
  padding-top: 10%;
  padding: 0;
  padding-left: 15%;
  text-shadow: 0px 1px 0px grey, 0px 2px 0px grey, 0px 3px 0px grey, 0px 4px 0px grey;
}

logo2{
  color: rgba(200, 200, 200, 1);
  font: 20px CocoRegular, monospace;
  height: 10px;
  padding-left: 20%;
  text-shadow: 0px 0px 10px black;
}

.menu{
  position : relative;
  list-style: none;
  background-image: linear-gradient(to top, rgba(255, 240, 90,0.4), rgba(0,0,0,0));
  text-align:center;
  margin: 0;
  padding: 0;
  margin-top: -50px;
  height: 50px;
  width: 100%;
  z-index: 65;
}
.menu li{
  display:inline;
}
.menu button{
  outline:none;
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: White;
  background-color: transparent;
  font-size: 30px;
  display: inline-block;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  min-width: 150px;
  height: 100%;
  text-shadow: 0 0 5px black;
  z-index: 10;
  transition: color, text-shadow 0.1s;
}

.menu button:hover {
  text-shadow: 0 2px 5px black;
  color: rgb(200,200,200);
}

.menu button:active {
  color: rgb(255, 230, 90);
}

.emptyBar {
  position: relative;
  min-height: 100px;
  width: 100%;
  color: white;
  z-index: 15;
}
.whiteBar {
  position: relative;
  min-height: 100px;
  width: 100%;
  color: black;
  z-index: 15;
  background-color: rgba(230, 230, 230, 1);
  box-shadow: inset 0px 150px 150px -150px rgba(250, 250, 250, 1), inset 0px -150px 150px -150px rgba(250, 250, 250, 1);
  text-shadow: 0px 1px 0px white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  box-shadow: 0px 0px 5px 1px white;
}
.content{
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(230, 230, 230, 1);
  box-sizing: border-box;
}
.showreel{
  width: 100%;
  height: 240px;
  vertical-align: middle;
  overflow: hidden;
  transition: height 1s;
}
.showreel iframe{
  position: absolute;
  z-index: 2;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px 3px rgba(0,0,0,0.5);
}
.earthMesh{
  background:url('earth/atmosphere.png');
  background-size: 100% 100%;
  position: absolute;
  opacity: 0;
  left: -10px;/* minus scrollbar*/
  z-index: 1;
  transition: margin-top, opacity 1s;
}

@font-face {
  font-family: Baloo;
  src: url("fonts/Anonymous_Pro_B.ttf") format("truetype");
}
@font-face {
  font-family: CocoLight;
  src: url("fonts/Coco-Gothic-Light-trial.ttf") format("truetype");
}
@font-face {
  font-family: CocoRegular;
  src: url("fonts/Coco-Gothic-Regular-trial.ttf") format("truetype");
}
@font-face {
  font-family: CocoHeavy;
  src: url("fonts/Coco-Gothic-Heavy-trial.ttf") format("truetype");
}
